*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.mainbox
{
   height: 30vh;
   width: 100%;
   background-image: linear-gradient(90deg, blue, yellow);
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.time
{
    height: 100px;
    width: 100px;
    background-color: gray;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 10px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.time-digits
{
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.left-time
{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}
.imgbox
{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(90deg, blue, yellow);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img-container
{
    height: 300px;
    width: 300px;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 10px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: gray;
    transform: rotate(180deg);
    transition: 2s ease;
}
.img-container-change
{
    transition: 2s ease;
      transform: rotate(360deg);
     background-image: url('images/blur2.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}